body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url('b.jpg');
}
.head{
    font-size: 30px;
    font-weight: bold;
    background-color: #70a1ff;
    padding:5px;
    border: 2px solid black;
}
.contain{
    width:85%
    margin:auto
}
.a1{
    width:30% ;
    margin: auto;
    padding:10px;
    background: #ced6e0;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
    transition: 1s;
}
.a1 a{
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    color: #130f40;
}
.a1:hover{
    background:#FEA47F;
    width:40% ;
    height: auto;
}
a:hover{
    font-size: 25px;
}
.f{
    
}
