body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    background-image: url('b2.jpg');
}

h2{
    text-align: center;
    background: #1dd1a1;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border: 1px dashed #686de0;
    border-radius: 20px;
}

.c{
    width:85%
    margin:auto
}
.f{
    background-image: url('b5.jpg');
    background:#7ed6df;
    width: 50%;
    margin: auto;
    border: 1px dashed #686de0;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    font-weight: bold;
}
